<div class="progress" [class.d-none]="hide_progress" [@progslizer]="toggler" >
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
   style="width:50%"
   ></div>
</div>
   <div [@ozslizer]="toggler">
 <ng-template 
 *ngIf="wisher.length==0;then trueblock; else falseblock">
</ng-template>

<ng-template #trueblock>
  <br>
  <app-norecords></app-norecords>
</ng-template>

<ng-template #falseblock>

<div class="container d-flex justify-content-end">
  <button type="button" class=" btn btn-sm btn-light"
  [disabled]="!flag_list['single_item']" (click)="detail_click()"
  >Detail<i class="material-icons align-middle">chevron_right</i></button>
    </div>
  <table class='table table-responsive-sm table-striped table-dark all_table '>
    
  <tr>
    <th *ngFor="let header of headings">{{header}}</th>
  </tr>
  <tr  *ngFor="let item of wisher; index as j "
  
  >
  
 
<td  >{{j+1}}
</td>
<td  ><img height=90 width=90 src={{item.image}} > </td>
<td class='text-primary'  ><span class="title" matTooltip={{item.title}}  (click)="get_details(item)" >
  
  {{trimmer(item.title)}}

</span></td>
<td  >{{item.price}}</td>
<td >{{item.shipping}}</td>
<td >{{item.seller_info}}</td>
<td >
    <button type="button" (click)="wish_contains(item)" class="btn btn-sm btn-default ">
      <i class="material-icons align-middle" [class.orange]="cart_displayer(item)=='remove_shopping_cart'">{{cart_displayer(item)}}</i> </button>

</td>
  </tr>
  

  <tr>
  
  <td ></td>
  <td ></td>
  <td ></td>
  <td ></td>
  <td ></td>
  <td >Total Shopping</td>
  <td >${{get_total_cost()}}</td>
  </tr>
  </table>
          
           
 </ng-template>
</div>